.worry-title-input::placeholder {
    color: #D2CDBC;
    font-size: 24px;
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    line-height: 38.40px;
    word-wrap: break-word;
}

.worry-option-1::placeholder, .worry-option-2::placeholder {
    color: #D2CDBC;
    font-size: 20px;
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
}

.description::placeholder {
    color: #D2CDBC;
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    line-height: 25.60px;
    word-wrap: break-word;
}

/* Select 라이브러리의 컴포넌트에 대한 스타일 지정 */
.categories {
    width: 12.5rem;
    margin-right: 32rem;
    margin-bottom: 5rem;
}

.categories::placeholder {
    color: #D2CDBC;
    font-size: 16px;
    font-family: "Pretendard";
    font-weight: 500;
    line-height: 25.60px;
    word-wrap: break-word;
}

.css-13cymwt-control {
    width: 203px;
    height: 60px;
}

.css-t3ipsp-control {
    width: 203px;
    height: 60px;
}

.css-1fdsijx-ValueContainer {
    color: #D2CDBC;
    font-size: 18px;
    font-family: "Pretendard";
    font-weight: 500;
    line-height: 25.60px;
    word-wrap: break-word;
    margin-right: 60px;
}

.custom-option {
    width: 202px;
    height: 50px;
    position: relative;
    color: #67594C;
    font-size: 18px;
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 13px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 16px;
}

.css-1u9des2-indicatorSeparator {
    display: none;
}

.custom-option input[type="radio"] {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.custom-option label {
    display: flex;
    align-items: center;
}