.complete-text {
    color: '#67594C';
    font-size: 24px;
    font-family: 'Pretendard';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.complete-detail {
    color: '#67594C';
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 500;
    line-height: 28.80px;
    word-wrap: break-word;
}

.move-to-board {
    width: 340px;
    height: 75px;
    background: #FFAB5D;
    border-radius: 44px;
    display: block;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 42px;
    border: none;

    color: white;
    font-size: 24px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.move-to-mypage {
    color: #606067;
    font-size: 24px;
    font-family: 'Pretendard';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    margin-top: 32px;
    margin-bottom: 300px;
}