.separator-line {
    width: 100%; /* 가로 크기 100%로 설정 (반응형) */
    height: 4px;
    left: 0;
    top: 115px;
    position: absolute;
    background: #E9E5DA;
}

.signup-heading {
    color: #67594C;
    font-size: 36px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;

}

.signup-form {
    display: 'flex';
    flex-direction: 'column';
    width: 100%;
    height: 100%;
}

.user-img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 9999px;
    display: 'block';
}

.upload-button {
    width: 120px;
    height: 44px;
    background: #E9E5DA;
    border: 1px solid #D2CDBC;
    border-radius: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

    color: rgba(103, 88, 76, 0.50);
    font-size: 15px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 44px; 
    word-wrap: break-word;
}

.id-heading {
    margin-right: 25em;
    color: #67594C;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
}

.id-input {
    font-size: 20px;
    width: 557px;
    height: 80px;
    background: white;
    border-radius: 24px;
    border: 2px solid #E9E5DA;
}

.id-input::placeholder {
    color: #D2CDBC;
    font-size: 18px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word;
}

.passwd-heading {
    margin-right: 24em;
    color: #67594C;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
}

.passwd-input {
    font-size: 20px;
    width: 557px;
    height: 80px;
    background: white;
    border-radius: 24px;
    border: 2px solid #E9E5DA;
}

.passwd-input::placeholder {
    color: #D2CDBC;
    font-size: 18px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .id-input, .passwd-input {
      /* width: 100%; 화면 너비에 따라 가로 크기 조절 */
      height: auto; /* 세로 크기를 자동으로 조절하여 가로 세로 비율 유지 */
    }
}

@media (max-width: 768px) {
    .id-heading,
    .passwd-heading {
      margin: 0; /* 화면이 작아질 때 왼쪽과 오른쪽 여백 제거 */
      text-align: left;
    }
  }

.signup-submit {
    width: 340px;
    height: 75px;
    background: #FFAB5D;
    border-radius: 44px;
    display: block;
    margin: 0 auto;
    margin-top: 88px;
    border: none;
    margin-bottom: 170px;

    color: white;
    font-size: 24px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }

@media (max-width: 768px) {
    .signup-submit {
      width: 340px; 
      /* width: 100%  화면 너비에 따라 가로 크기 조절 */
      height: auto; /* 세로 크기를 자동으로 조절하여 가로 세로 비율 유지 */
    }
}

